#js-scrolltopable {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  color: white;
  width: 3rem;
  height: 3rem;
  margin: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
}
#js-scrolltopable.js-scrolltopable--visible {
  display: flex;
  justify-content: center;
  align-items: center;
}
#js-scrolltopable > span {
  font-family: Arial, sans-serif;
  font-size: 3em;
  position: relative;
  top: 0.15em;
}

